@font-face {
    font-family: DSEG14Classic;
    src: url(DSEG14Classic-Bold.ttf);
}
/*style choices for the clock*/
#time {
	/*font chosen*/
    font-family: DSEG14Classic;
	/*color in hexidecimal*/
    color: #00ff00;
	/*size of font*/
    font-size:50px;
	/*desired shadow amount*/
    text-shadow:0px 0px 10px #00FF00;
}
